<div class="container text-center w-100">
  <h2>Welcome to the <p class="text-primary d-inline"><%= @restaurant.name %></p></h2>
  <h3>We are proud to serve our customers the finest <%= @restaurant.category %> cuisine!</h3>
  <br>
  <div class="bg bg-white rounded-lg text-center mx-auto w-50">
    <p class="text-muted"><strong><em>Our address:</em></strong></p>
    <p><%= @restaurant.address %></p>
    <br>
    <p class="text-muted"><strong><em>You can reach us at:</em></strong></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <p class="display-4"><%= link_to "⬅", restaurants_path %></p>
</div>