<div class="container mx-auto w-75">
<h2 class="text-muted">Write a review for <%= @restaurant.name %></h2>
  <%= simple_form_for [@restaurant, @review], method: :post do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5), as: :select %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

<%# , url: restaurant_path(@restaurant) %>